.DS_Store

/venv/
/.idea/*
/socialmedia_networks/credentials.py
/twitter_network/static/twitter_network/data/
/twitter_network/twitter_created_models/
/twitter_network/test_credentials.py
/twitter_network/SpecialTermTweetD2vCreator.py
/twitter_network/supervised_terms.py
/twitter_network/__pycache__/
/socialmedia_networks/__pycache__/
/twitter_network/migrations/__pycache__/
/node_modules/