{% extends 'twitter_network/base.html' %}

{% block content %}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
<h3>Pregenerated Networks</h3>
<h6><a href="show_network?identifier=Cincytech">view Cincytech test</a></h6>
<h6><a href="show_network?identifier=Blevins">view Blevins test</a></h6>
<h6><a href="show_network?identifier=Medicine">view Medical test</a></h6>

<hr>
<!--
<h3>Demo App function</h3>
<h6><a href="twitter_network_form">create a network!</a></h6>
<h6><a href="show_all_networks">show all networks!</a></h6>-->



<br>
<br>
<hr>
<p>Tweet ID's provided by <a href="https://arxiv.org/abs/2003.07372">Emily Chen, Kristina Lerman, and Emilio Ferrara. 2020</a>. #COVID-19: The First Public Coronavirus Twitter Dataset. arXiv:cs.SI/2003.07372, 2020<
</p>

<h5>Collected tweets:</h5>
<h6>Keywords</h6>
<p>Coronavirus             1/28/2020</p>
<p>
Koronavirus             1/28/2020</p>
<p>
Corona                  1/28/2020</p>
<p>
CDC                     1/28/2020</p>
<p>
Wuhancoronavirus        1/28/2020</p>
<p>
Wuhanlockdown           1/28/2020</p>
<p>
Ncov                    1/28/2020</p>
<p>
Wuhan                   1/28/2020</p>
<p>
N95                     1/28/2020</p>
<p>
Kungflu                 1/28/2020</p>
<p>
Epidemic                1/28/2020</p>
<p>
outbreak                1/28/2020</p>
<p>
Sinophobia              1/28/2020</p>
<p>
China                   1/28/2020</p>
<p>
covid-19                2/16/2020</p>
<p>
corona virus            3/2/2020</p>
<p>
covid                   3/6/2020</p>
<p>
covid19                 3/6/2020</p>
<p>
sars-cov-2              3/6/2020</p>
<p>
COVIDー19                3/8/2020</p>
<p>
COVD                    3/12/2020</p>
<p>
pandemic                3/12/2020</p>
<hr>
<h6>Accounts</h6>

<p>
PneumoniaWuhan      1/28/2020</p>
<p>
CoronaVirusInfo     1/28/2020</p>
<p>
V2019N              1/28/2020</p>
<p>
CDCemergency        1/28/2020</p>
<p>
CDCgov              1/28/2020</p>
<p>
WHO                 1/28/2020</p>
<p>
HHSGov              1/28/2020</p>
<p>
NIAIDNews           1/28/2020</p>
</div>
</div>
{% endblock %}