{% extends 'twitter_network/base.html' %}
{% block extra_style %}
 <style>
 	.i_obj_rect{
 		fill : steelblue;
 		opacity: .1;
 	}
 	.i_obj_rect:hover{
 		opacity: .5;
 	}
 	.obj-mouseover {
      position : absolute;
      background-color: lightblue;
      width : 100px;
      z-index : 1000000;
      font-size: 8px;
    }
    .mousep {
    	margin-bottom:0px;
    }

 </style>
{% endblock %}
{% block content %}
<div class="obj-mouseover hidden">
    <p class="name mousep">hi there</p>
    <p class="count mousep">hi there</p>
 </div>
<h3>
	<span id="identifier">{{ info }}</span> Graph: <span id="found-count"></span>
</h3>
<p>Click a bar to see tweets using the found organization</p>	

<div class="row"> 
	<div class="col-12 align-middle" id="loading-div" align="center" style="height: 100%">
			<h5><span class="loading-message"></span></h5>	
			 <img src="/static/twitter_network/images/big-ajax-loader.gif">
	</div>
	<div class="col-12 hidden" id="vis-div">
		<div class="row">
			<div class="col-12" id="org-vis-div" style="overflow:auto;">
			</div>
		</div>
		<div class="row">
			<div class="col-1">	
			</div>
		<div class="col-10">
			<div class="row" id="tables-row">

			</div>
		</div>
		</div>
	</div>
</div>



{% endblock %}


{% block javascript %}
<script src="/static/twitter_network/js/d3.min.js"></script>
<script src="/static/twitter_network/js/crossfilter.js"></script>
<script src="/static/twitter_network/js/dc.min.js"></script>

{% endblock %}

{% block network_javascript %}
<script src="/static/twitter_network/src/twitter_network_script.js"></script>
<script src="/static/twitter_network/src/ner_script.js"></script>
{% endblock %}