{% extends 'twitter_network/base.html' %}
{% block extra_style %}
 <style>
 	.i_obj_rect{
 		fill : steelblue;
 		opacity: .1;
 	}
 	.i_obj_rect:hover{
 		opacity: .5;
 	}
 	.obj-mouseover {
      position : absolute;
      background-color: steelblue;
      width : 100px;
      z-index : 1000000;
      font-size: 8px;
    }
    .mousep {
    	margin-bottom:0px;
    }

 </style>
{% endblock %}
{% block content %}
<div class="obj-mouseover">
    <p class="name mousep">hi there</p>
    <p class="count mousep">hi there</p>
 </div>
<h3>
	<span id="identifier">{{ info }}</span> Graph: <span id="found-count"></span></h3>
	

<div class="row"> 
	<div class="col-12 align-middle" id="loading-div" align="center" style="height: 100%">
			<h5><span class="loading-message"></span></h5>	
			 <img src="/static/twitter_network/images/big-ajax-loader.gif">
	</div>
	<div class="col-12 hidden" id="vis-div">
		<div class="row">
			<div class="col-12" id="org-vis-div" style="overflow:auto;">
			</div>
		</div>
		<div class="row">
			<div class="col-1">	
			</div>
		<div class="col-10">
			<div class="row" id="tables-row">

			</div>
		</div>
		</div>
	</div>
	<!--<div class="col-9 hidden" id="vis-div" >
		<div id="timeline-div">
		</div>
		<div id="timeline-div">
		</div>
		<div id="network-div">
		</div>
	</div>
	<div class="col-3 hidden" id="table-div"  style="overflow: auto">
		<h3 id="tweet-table-label"></h3>
		<p>popularity = likes + retweets</p>
		<table class="table tweet-table tinytext">
			  <thead>
			    <tr>
			      <th scope="col">Popularity</th>
			      <th scope="col">User</th>
			      <th scope="col">Date</th>
			      <th scope="col">Tweet</th>
			    </tr>
  				</thead>
  				<tbody>
  				</tbody>
		</table>
	</div>-->
</div>



{% endblock %}


{% block javascript %}
<script src="/static/twitter_network/src/d3.v5.min.js"></script>
<script src="/static/twitter_network/src/crossfilter.js"></script>
<script src="/static/twitter_network/src/dc.js"></script>

{% endblock %}

{% block network_javascript %}
<script src="/static/twitter_network/src/ner_script.js"></script>
{% endblock %}