{% extends 'twitter_network/base.html' %}

{% block content %}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<h1>Ferguson Visualizations</h1>
		
		<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_5">Ahmaud Arbury May 5</a></h4>
		<iframe width="100%" height="800px" src="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_5"></iframe>
		<hr>
		<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_6">Ahmaud Arbury May 6</a></h4>
		<iframe width="100%" height="800px" src="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_6"></iframe>
		<hr>
			<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_7">Ahmaud Arbury May 7</a></h4>
		<iframe width="100%" height="800px" src="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_7"></iframe>
		<hr>
				<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_8">Ahmaud Arbury May 8</a></h4>
		<iframe width="100%" height="800px" src="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_8"></iframe>
		<hr>
				<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_9">Ahmaud Arbury May 9</a></h4>
		<iframe width="100%" height="900px" src="https://modelofmodels.io/searcher/projects/?name=debates&ahmaudarbery_9"></iframe>
		<hr>
		<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&georgefloyd_26">George Floyd May 26</a></h4>
		<h4><a href="https://modelofmodels.io/searcher/projects/?name=debates&georgefloyd_27">George Floyd May 27</a></h4>


	</div>
</div>
{% endblock %}