{% extends 'twitter_network/base.html' %}

{% block content %}
<h1>All of our networks!</h1>
<div class="alert alert-warning" role="alert">
 This is currently non functioning and in development
</div>
<div class="row">
<div class="col-6">
<table class="table">
	<tr>
		<th class="col">Name</th>
		<th class="col-1">Timeline</th>
		<th class="col-1">PCA</th>
		<th class="col-1">Status</th>
	</tr>
{% for network in networks %}
<tr>
	<td>{{ network.display_name }}</a></td>
	<td><a href="webgl_timeline?identifier={{ network.display_name }}_">Timeline </a></td>
	<td><a href="show_webgl?identifier={{ network.display_name }}_">PCA </a></td>
    <td>{{ network.network_status }}</td>

   
</tr>
{% endfor %}

</table>
</div>


{% endblock %}