{% extends 'twitter_network/base.html' %}

{% block content %}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<h1>Barstool Network</h1>
		<p>Network for Dave Portnoy anti-union Tweet response</p>
		<h4><a href="twitter_network/union_webgl_network?identifier=barstool_test">View Barstool August 2019 Network</a></h4>

		<hr>

		<h1>Tesla Network</h1>
		<p>Network for Elon Musk anti-union Tweet response</p>
		<h4><a href="twitter_network/union_webgl_network?identifier=tesla_test">View Tesla May 2018 Network</a></h4>

		<hr>

		<h1>Federalist Network</h1>
		<p>Network for Domenech anti-union Tweet response</p>
		<h4><a href="twitter_network/union_webgl_network?identifier=federalist_test">View June 2019 Network</a></h4>

		<hr>

		<h1>Three Networks Combined</h1>
		<p>Combined networks</p>
		<h4><a href="twitter_network/union_webgl_network?identifier=combined_test">View Combined Network</a></h4>
	</div>
</div>
{% endblock %}